<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="OTL" value="https://www.myget.org/F/ourtimelive/auth/80cb202a-ced2-4194-a570-d7d76511a7dc/api/v3/index.json" />
  </packageSources>
</configuration>
